@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.container {
  text-align: left;
  /* width: 650px; */
  width: 65%;
  /* height: 600px; */
  margin: 0px auto;
  padding: 10px;
  background-color: #F9F9F9;
  border-radius: 5px;
  border: none;
}

#loan-src {
  float: left;
  width: 300px;
  height: 240px;
  margin-bottom: 10px;
  border-radius: 3px;

  /* border: 1px solid blue; */
}

#loan-info {
  float: right;
  width: 300px;
  height: 230px;
  margin-bottom: 10px;
  border-radius: 3px;

  /* border: 1px solid orange; */
}

#table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* clear: both; */
  width:100%;
  /* width: 600px; */
  /* height: 50px; */
  max-height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /* border: 1px solid black; */
}

#table-header td {
  /* width: 100%; */
}

#table {
  overflow: auto;
  width: 100%;
  /* width: 600px; */
  height: 200px;
  border: 1px solid grey;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  font-family: sans-serif;
  font-size: 13px;
}

.loan-form {
  margin: 10px;
}

.loan-form-btn {
  background-color: lightskyblue;
  cursor: pointer;
  border: 0;
  padding: 10px;
}

.loan-form-btn:active {
  transform: scale(0.98);
  background-color: lightblue;
}

.loan-form-btn:focus {
  outline: 0;
}

.loanForm span {
  font-size: 12px;
}
